.home {
   height: 93vh;
   border: 0.5px solid black;
}

.create-trip-container {
   height: inherit;
   display: grid;
   grid-template-columns: 34vw 66vw;
}

.create-trip-sidebar {
   display: grid;
   height: inherit;
   grid-template-rows: 90% 10%;
}

.create-form {
   display: grid;
   grid-template-rows: 1fr 3fr;
   grid-column: 1 / 2;
   background: yellow;
   height: 80%;
   width: 80%;
   place-self: center;
   border: 0.5px solid black;
}

.create-trip-places-container {
   display: grid;
   grid-template-rows: 10% 90%;
   border: 0.5px solid black;
   height: inherit;
   width: 100%;
   grid-column: 2 / 3;
}

.create-trip-places-picker {
   display: flex;
   flex-wrap: wrap;
   grid-row: 2 /3;
   border: 0.5px solid black;
   background: orangered;
   overflow-y: auto;
   width: 100%;
}

.select-place-tags {
   display: grid;
   grid-template-rows: 1fr 3fr 1fr;
   grid-column: 1 / 2;
   background: yellow;
   height: 70%;
   width: 80%;
   place-self: center;
   border: 0.5px solid black;
}

.selected-places {
   overflow-x: auto;
   grid-row: 1 / 2;
   width: 100%;
   border: 0.5px solid black;
   background: orange;
   white-space: nowrap;
}

.selected-places > .place-card {
   display: inline-flex;
   height: 100%;
}

.place-card {
   display: flex;
   border: 0.5px solid black;
   height: 50%;
   width: 33%;
   overflow: hidden;
   position: relative;
}

.place-card > img {
   height: 100%;
}
.place-card > div {
   z-index: 10;
   border: 0.5px solid black;
   position: absolute;
   width: 100%;
   height: 30%;
   place-self: flex-end;
   background-color: white;
   filter: opacity(50%);
}

.city-container {
   display: grid;
   height: 48vh;
   overflow-y: auto;
}

.city-placeholder {
   border: 0.5px solid black;
   place-self: center;
   height: 90%;
   width: 97%;
   position: relative;
   display: flex;
}

.city-placeholder > img {
   height: 100%;
   width: 100%;
}

.city-placeholder > div {
   z-index: 10;
   width: 100%;
   position: absolute;
   place-self: flex-end;
   height: 30%;
   filter: opacity(50%);
   background-color: white;
}

.selection-container {
   display: grid;
   grid-template-rows: 1fr 3fr;
}

.tags-container {
   height: 47vh;
   overflow-y: auto;
   display: flex;
   flex-wrap: wrap;
   place-content: space-evenly;
}

.tags-search {
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-rows: 1fr 1fr;
}

.tag {
   border: 0.5px solid black;
   display: inline-block;
}

h2 {
   margin-top: auto;
}

.modal-screen {
   display: grid;
   width: 100vw;
   height: 100vh;
   place-content: center;
   z-index: 9000;
   background-color: rgba(0, 0, 0, 0.7);
   position: fixed;
}

.modal-container {
   display: grid;
   grid-template-columns: 40% 60%;
   height: 70vh;
   background-color: aqua;
   width: 70vw;
}

.modal-map {
   border: 0.5px solid black;
   width: 100%;
   overflow: hidden;
   display: grid;
}

.modal-map > img {
   height: 100%;
   place-self: center;
}

.modal-content {
   display: grid;
   grid-template-rows: 90% 10%;
   grid-row: 1 / 2;
   border: 0.5px solid black;
}

.current-trips-container {
   height: inherit;
   width: 100vw;
   border: 0.5px solid black;
   grid-template-rows: 20vh 80vh;
}

.current-trips {
   height: 70%;
   width: 80%;
   border: 0.5px solid black;
   place-self: center;
   overflow: auto;
   white-space: nowrap;
}

.current-trips > .place-card {
   display: inline-flex;
   height: 100%;
   width: 50%;
}

.current-trips-create {
   display: grid;
   place-items: center;
}
