.home {
   height: 93vh;
   border: 0.5px solid black;
}

.create-trip-container {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 2fr;
}

.create-trip-sidebar {
   display: grid;
}

.create-form {
   display: grid;
   grid-template-rows: 1fr 3fr;
   grid-column: 1 / 2;
   background: yellow;
   height: 70%;
   width: 80%;
   place-self: center;
   border: 0.5px solid black;
}

.create-trip-places-container {
   display: grid;
   grid-template-rows: 10%;
   border: 0.5px solid black;
   height: 100%;
   width: 100%;
   grid-column: 2 / 3;
}

.create-trip-places-picker {
   display: grid;
   gerid-row: 2 / 3;
   height: 100%;
   width: 100%;
   border: 0.5px solid black;
   background: orangered;
}

.selected-places {
   display: grid;
   grid-auto-flow: column;
   grid-row: 1 / 2;
   height: 100%;
   width: 100%;
   border: 0.5px solid black;
   background: orange;
}

.place-placeholder {
   border: 0.5px solid black;
   place-self: center;
   background: green;
   height: 97%;
   width: 97%;
}

.city-container {
   display: grid;
   height: 48vh;
   /* grid-auto-flow: row; */
   overflow-y: auto;
}

.city-placeholder {
   border: 0.5px solid black;
   place-self: center;
   height: 90%;
   width: 97%;
   position: relative;
   display: flex;
}

.city-placeholder > img {
   height: 100%;
   width: 100%;
}

.city-placeholder > div {
   z-index: 10;
   width: 100%;
   position: absolute;
   place-self: flex-end;
   height: 30%;
   filter: opacity(50%);
   background-color: white;
}

.selection-container {
   display: grid;
   grid-template-rows: 1fr 3fr;
}

h2 {
   margin-top: auto;
}
