.container {
   height: 100vh;
   display: grid;
   /* justify-content: space-around; */
   border: 0.5px solid black;
}

.item {
   height: 50%;
   width: 55%;
   display: block;
   border: 0.5px solid black;
   place-self: center;
   background: yellow;
}

input {
   width: 100%;
   place-self: center;
   border: 0;
   padding: 15px 0;
   border-bottom: 0.5px solid black;
   background: transparent;
}

label {
   text-align: center;
   width: 100%;
}

h3,
h4 {
   text-align: center;
}
