.container {
   height: 93vh;
   display: grid;
   grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
   justify-content: space-around;
   border: 0.5px solid black;
}

.item {
   grid-area: 2/2;
   height: 100%;
   display: block;
   border: 0.5px solid black;
   place-self: center;
   background: yellow;
}

input {
   width: 100%;
   place-self: center;
   border: 0;
   padding: 15px 0;
   border-bottom: 0.5px solid black;
   background: transparent;
}

label {
   text-align: center;
   width: 100%;
}

h3,
h4 {
   text-align: center;
}
